*~
*.swo
*.swp

*.diff
*.out
*.log
*.stderr
*.stdout
*.tgz
**/*.tar.gz

tools/marian
tools/marian-dev
tools/moses-scripts
tools/subword-nmt
tools/nematus
tools/sacrebleu
tools/cpu-features

models/deen/*


data/wngt20/*
